/problema1/NotasUniversidad/nbproject/private/
/problema1/NotasUniversidad/build/
/problema2/InformacionProfesores/nbproject/private/
/problema2/InformacionProfesores/build/
/problema3/CaracteristicasAutomotor/nbproject/private/
/problema3/CaracteristicasAutomotor/build/
/problema3/ManejoCheques/nbproject/private/
/problema3/ManejoCheques/build/
